# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: © 2021 Matija Šuklje <matija@suklje.name>, 2022 Jarosław Czarniak <jaroslaw@czarniak.org>

[Desktop Entry]
Categories=Network;WebBrowser;
Comment[sl_SI]=
Comment=
Exec=$HOME/.local/bin/activityfirefox %u
GenericName[sl_SI]=Activity-aware web browser
GenericName[pl_PL]=Przeglądarka wspierająca aktywności KDE
GenericName=Activity-aware web browser
Icon=firefox
InitialPreference=10
MimeType=text/html;application/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;
Name[sl_SI]=Activity-aware Firefox
Name[pl_PL]=Firefox wspierający aktywności KDE
Name=Activity-aware Firefox
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Keywords=Internet;WWW;Browser;Web;Explorer
Categories=GNOME;GTK;Network;WebBrowser;
